<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>
        <%= title %>
    </title>
</head>

<body>
<header>
    <a href="/">logo</a>
    <nav>
        <ul class="nav-ul invisible-list">
            <% if (username) { %>
                <li><a href="/profile"><%= username %> </a></li>
                <li><a href="/logout">logout</a></li>
            <% } else { %>
                <li><a href="/login">login</a></li>
                <li><a href="/register">create account</a></li>
            <% } %>
        </ul>
    </nav>
</header>