<%- include('header') %>
<main>
  <form>
    <input type="text">
    <button>search</button>
  </form>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>
</body>
</html>
